<%= form_for @word do |f| %>
  <div class="row">
    <div class="form-group">
      <%= f.label :content %>
      <%= f.text_area :content ,class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :category_id %>
      <%= f.select :category_id,
        options_for_select(Category.all.map{ |c| ["#{c.id} - #{c.name}", c.id]}),
        {},
        class: "form-control" %>
    </div>
    <hr>
    <div class="row">
      <h4><%= t :answers %></h4>
      <div class="col-md-10 col-xs-11 pull-right">
        <div id="answer_0">
        </div>
        <label class="btn btn-default form-control" id="btn_add_new_answer"
          onclick="add_new_answer('<%= t ".answer" %>', '<%= t ".correct" %>')">
          <i class="glyphicon glyphicon-edit"></i>
          <%= t ".new_answers" %>
        </label>
      </div>
    </div>
  </div>
  <%= f.submit t(".button_text"), class: "btn btn-primary form-control" %>
<% end %>
