<% provide :title, t(".title", name: @category.name) %>
<% provide :button_text, t(".btn_text") %>
<div class="row">
  <div class="col-md-2 col-xs-12">
    <h2> <%= t :category %><h2>
    <h1 id="category_show_name"><%= @category.name %></h1>
  </div>

  <div class="col-md-8 col-xs-12">
    <div class="row">
      <%= render "form" %>
    </div>
    <hr>
    <div class="row">
      <div class="panel panel-control">
        <%= link_to "#",
          data: {toggle: "modal", target: "#new-lesson-modal"},
          class: "btn btn-primary" do %>
          <i class="glyphicon glyphicon-pencil" ></i>
          <%= t ".add_new_lesson" %>
        <% end %>
        <%= link_to "#",
          data: {toggle: "modal", target: "#new-word-modal"},
          class: "btn btn-primary" do %>
          <i class="glyphicon glyphicon-pencil" ></i>
          <%= t ".add_new_word" %>
        <% end %>
      </div>
    </div>
    <hr>
    <div class="row">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th><%= t :id %></th>
            <th><%= t :name %></th>
            <th><%= t ".number_of_words" %></th>
            <th><%= t ".time" %></th>
          </tr>
        </thead>
        <div class="alert alert-danger hide" id="connect_failed">
          <label >
            <%= t :failed_connection %>
          </label>
        </div>
        <tbody id="result_search">
          <% if @lessons.any? %>
            <%= render @lessons %>
            <%= will_paginate @lessons %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="modal fade" id="new-lesson-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
          <h3 class="modal-title glyphicon glyphicon-edit">
            <%= t ".lesson" %>
          </h3>
        </div>
        <div class="modal-body">
          <%= form_for @lesson do |f| %>
            <div class="form-group">
              <%= f.label :name %>
              <%= f.text_field :name,class: "form-control" %>
              <%= f.hidden_field :category_id%>
            </div>
            <div class="form-group">
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <%= f.label :number_of_words %>
                  <%= f.number_field :number_of_words, min: 1,
                    max: @number_max_of_words, step: 1, class: "form-control" %>
                </div>
              </div>
              <div class="col-md-6 col-xs-12">
                <div class="form-group">
                  <%= f.label :time %>
                  <%= f.number_field :time, step: 1, min: 1, class: "form-control" %>
                </div>
              </div>
            </div>
            <div class="form-group">
              <%= f.submit t(".btn_text"), class: "btn btn-primary form-control" %>
            </div>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
            data-dismiss="modal">
            <%= t ".close" %>
          </button>
        </div>
      </div>
    </div>
  </div>
<div class="modal fade" id="new-word-modal" role="dialog">
  <div class="modal-dialog  modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">
          &times;
        </button>
        <h3 class="modal-title glyphicon glyphicon-edit">
          <%= t :word %>
        </h3>
      </div>
      <div class="modal-body">
        <%= form_for @word do |f| %>
          <div class="form-group">
            <%= f.label :content %>
            <%= f.text_area :content ,class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :category_id %>
            <%= f.hidden_field :category_id ,class: "form-control" %>
          </div>
          <hr>
          <div class="form-group">
            <h4><%= t :answers %></h4>
            <div class="col-md-10 col-xs-11 pull-right">
              <div id="answer_0">
              </div>
              <hr>
              <label class="btn btn-default form-control" id="btn_add_new_answer"
                onclick="add_new_answer('<%= t ".answer" %>','<%= t ".correct" %>')">
                <i class="glyphicon glyphicon-edit"></i>
                <%= t ".new_answers" %>
              </label>
              <hr>
            </div>
          </div>
          <div class="form-group row">
            <%= f.submit t(".save"), class: "btn btn-primary form-control" %>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default"
          data-dismiss="modal">
          <%= t ".close" %>
        </button>
      </div>
    </div>
  </div>
</div>
